
$a : green;

$pixels :1vw * 2;

$primary: teal;
$secondary: $a;

$danger : lightgreen;


$success: yellow;
$link : $a;

p {
  color: red;
}

section {

  p{
    color: #0d6efd;
    margin-left: $pixels;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
