{% extends 'baseTemplate.html.twig' %}
    {% block content %}
        <h1>Delete Stuff</h1>

        <div class="wrapper">


            {% for game in games %}

                {% include "deleteTemplate.html.twig" with {"game" : game } %}

            {% endfor %}


        </div>

    {% endblock %}

