{% extends 'baseTemplate.html.twig' %}
    {% block content %}
        <h1>SUPERMEGADUPATURNIER</h1>
        <nav> <a href="../public/add.php">Add</a> </nav>
        <nav> <a href="../public/delete.php">Delete</a> </nav>

        <div class="wrapper">


            {% for game in games %}

                {% include "gameTemplate.html.twig" with {"game" : game } %}

            {% endfor %}


        </div>

    {% endblock %}

